# Quarto render output
/_site/
/.quarto/

# Generated per-institution pages (recreated by scripts/gen_pages.R)
/institutions/*.qmd
!/institutions/index.qmd

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

**/*.quarto_ipynb
